<!-- <div class="flex">
  <app-communication-io
    [responseInput]="response"
    (noticeMe)="addNaggingChildMessage($event)"
    [name]="'Julianna'"
  ></app-communication-io>
  <app-communication-io
    [responseInput]="response"
    (noticeMe)="addNaggingChildMessage($event)"
    [name]="'Bob'"
  ></app-communication-io>
  <app-communication-io
    [responseInput]="response"
    (noticeMe)="addNaggingChildMessage($event)"
    [name]="'John'"
  ></app-communication-io>
  <app-communication-io
    [responseInput]="response"
    (noticeMe)="addNaggingChildMessage($event)"
    [name]="'Alice'"
  ></app-communication-io>
  <app-communication-io
    [responseInput]="response"
    (noticeMe)="addNaggingChildMessage($event)"
    [name]="'Mary'"
  ></app-communication-io>
</div> -->

<!-- <app-communication-service /> -->

<h1>BIAB</h1>
<app-communication-biab [(size)]="fontSizePx" />
