<h1>Hello world</h1>
<button (click)="isSeasonlistVisible = !isSeasonlistVisible">
  {{ isSeasonlistVisible ? "Hide" : "Show" }}
</button>
@if (isSeasonlistVisible) {
<app-seasons-list />
}
<!-- <app-communication /> -->
<!-- <app-evaluated-attributes /> -->
<!--<app-genre *ngFor="let i of [].constructor(totalGenres)" />

<h2>My Shows</h2>
<ul>
  <ng-container *ngIf="series.length; else noSeries">
    <li *ngFor="let show of series">
      {{ show }}
    </li>
  </ng-container>
  <ng-template #noSeries>
    <li>No series available</li>
  </ng-template>
</ul>

<h2>The new way</h2>
<ul>
  @for (show of series; track show) {
  <li>
    The new {{ show }}
    @if (show === 'Breaking Bad') {
    <strong>==> Best show ever</strong>
    } @else if (show === 'The Witcher') {
    <strong>==> Second best show ever</strong>
    } @else {
    <em>==> Not the best show ever</em>
    }
  </li>
  }
</ul>

@switch (series.length) { @case (0) {
<p>No series available</p>
} @default {
<p>There are {{ series.length }} series available</p>
} } -->
